gradio
opencv-python
pillow
numpy
pandas
matplotlib
plotly
faiss-cpu
sentence-transformers
transformers
accelerate
bitsandbytes
langchain
langchain-community
langchain-text-splitters
ollama
google-generativeai
openai
